*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

.Contenedor{
    border: .3rem solid black;
    display: flex;
}

.box
{
    width: 10rem;
    height: 10rem;
}

.box1{
    background-color: antiquewhite;
}

.box2{
    background-color: blue;
}

.box3{
    background-color: darkblue;
}

.box3{
    background-color: deeppink;
}

.box4{
    background-color: darkslategray;

}

.box5{
    background-color: forestgreen;
}

.box6{

    background-color: hotpink;
}

.box7{
    background-color: darkred;
}